body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

hr{
  border-style: none;
  border-top: dotted 6px;
  border-color: black;
  width: 50px;
  margin-top: 80px;
  margin-bottom: 100px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.auth-inner {
  width: 450px;
  margin: 50px auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
  
}

.center-text{
  text-align: center;
}

.sideList{
  padding-left: 0px;
}

.chapter{
  padding: 20px 0px 20px;
  border-style: solid;
  border-width: 1px;
  list-style-position: inside; 
}

.course-text{
  padding: 5%
}

.feature-icon{
  text-align:center;
  font:200px;
}

.footer{
  background-color: rgb(162, 175, 175);
  padding-top: 50px;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 220px;
}
.footer-small{
  background-color: rgb(162, 175, 175);
  padding-top: 50px;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 150px;
}

.header{
  
  margin-top: 150px;
  margin-left: 50px;
  width:450px;
  text-align: left;
}

.header p {
  color: gray;
}

.home {
  padding-top: 56px; 
  padding-bottom: 220px ;
  /* Dynamic set above for changing footer content? */
}
.home-small {
  padding-top: 56px; 
  padding-bottom: 150px ;
  /* Dynamic set above for changing footer content? */
}

.no-padding{
  padding: 0px;
}

.page {
  position: relative;
  min-height: 100vh;
}

.sideBar{
  background-color: gray;
  color: white;
  height: 100%;
  padding: 0px;
}

.split{
  margin-top: 5px;
  margin-bottom: 4px;
}

.tool{
  width: 700px;
  height:500px;
  text-align: center;
  display: block;

}

.top {
  height: 400px;
}

.top img{
  position: absolute;
  float: right;
  top: 80px;
  left: 50%;
}

.video-container{
  widows: 100%;
  background-color: black;
  padding-bottom: -5px;
}
.video {
  width: 72vw; 
  height : 40vw;
  border: none;
}
